<div class="hero">
  <div class="hero-bar">
    <div class="hero-bar-spacer"></div>
    <button mat-raised-button color="primary" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon> Refresh
    </button>
  </div>
  <div class="hero-data">
    <div class="hero-data-bar">
      <div class="hero-data-bar-count">
        <button mat-flat-button color="primary">
          Approvals: {{ totalApprovals }}
        </button>
      </div>
      <div class="hero-data-bar-spacer"></div>
      <div class="hero-data-bar-create" *ngIf="!merchantVerified">
        <button
          mat-flat-button
          color="primary"
          routerLink="/kyc/create-approval"
        >
          <mat-icon>add</mat-icon> Create KYC Approval
        </button>
      </div>
    </div>
    <div class="hero-data-result" *ngIf="kycApprovals">
      <mat-expansion-panel *ngFor="let kycApproval of kycApprovals.rows">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ kycApproval.name }}</mat-panel-title>
          <mat-panel-description>{{
            kycApproval.aadhaar_number
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="kycApproval.name">Name: {{ kycApproval.name }}</p>
        <p *ngIf="kycApproval.aadhaar_number">
          Aadhaar No: {{ kycApproval.aadhaar_number }}
        </p>
        <p *ngIf="kycApproval.contact_no">
          Contact No: {{ kycApproval.contact_no }}
        </p>
        <p *ngIf="kycApproval.email">Email: {{ kycApproval.email }}</p>
        <p *ngIf="kycApproval.kyc_approval === false">Status: Pending</p>
        <p
          *ngIf="
            kycApproval.admin_decision === false &&
            kycApproval.kyc_approval === true
          "
        >
          Status: Declined
        </p>
        <p
          *ngIf="
            kycApproval.admin_decision === true &&
            kycApproval.kyc_approval === true
          "
        >
          Status: Approved
        </p>
      </mat-expansion-panel>
      <div class="hero-data-result-null" *ngIf="kycApprovals.count === 0">
        No Approvals Found
      </div>
      <mat-paginator
        [length]="totalApprovals"
        [pageSize]="approvalsPerPage"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
  <app-loader *ngIf="!kycApprovals"></app-loader>
</div>
