<div class="hero">
  <div class="hero-row-1">
    <div class="accept">
      <canvas id="accepted-chart-bar"></canvas>
    </div>
    <div class="reject">
      <canvas id="rejected-chart-bar"></canvas>
    </div>
  </div>
  <div class="hero-row-2">
    <div class="cancel">
      <canvas id="canceled-chart-bar"></canvas>
    </div>
    <div class="unpaid">
      <canvas id="unpaid-chart-bar"></canvas>
    </div>
  </div>
  <div class="hero-row-3">
    <div class="delivered">
      <canvas id="delivered-chart-bar"></canvas>
    </div>
  </div>
</div>
