<div class="hero">
  <div class="hero-search">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        type="text"
        matInput
        [formControl]="search"
        [matAutocomplete]="auto"
        #searchInput
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of searchLookaheads$ | async"
          [value]="option.name"
        >
          <img
            class="example-option-img"
            aria-hidden
            [src]="option.images[0].url"
            height="25"
          />
          <span>{{ option.name }}</span> |
          <small>Category: {{ option.category.name }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="hero-data-category" *ngIf="!searchInput.value.length">
    <div class="data-categories" *ngIf="categoryData">
      <div class="categories" *ngFor="let category of categoryData.rows">
        <div class="category" *ngIf="category.products.length > 0">
          <div class="category-bar">
            <div class="category-name">
              {{ category.name }}
            </div>
            <div class="category-show-btn">
              <button
                mat-button
                color="primary"
                [routerLink]="['/product/category/', category.id]"
              >
                View All <mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </div>
          <div class="category-products">
            <app-product-scroll-cards
              [productsDetails]="category.products"
            ></app-product-scroll-cards>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-data-search" *ngIf="searchInput.value.length">
    <mat-accordion multi="true">
      <mat-grid-list
        [cols]="mybreakpoint"
        rowHeight="450px"
        (window:resize)="handleSize($event)"
      >
        <mat-grid-tile *ngFor="let product of searchData.rows">
          <app-product-card-small
            [productDetails]="getProductCardDetails(product)"
            [cardHeight]="32"
            [cardWidth]="25"
            actionName="Open"
            actionIcon="open_in_full"
            (actionClick)="onProductClick($event)"
            [review]="getReviewStar(product)"
          ></app-product-card-small>
        </mat-grid-tile>
      </mat-grid-list>
      <div
        class="mat-subheading-2"
        style="text-align: center"
        *ngIf="searchData.count === 0"
      >
        No Product Found
      </div>
    </mat-accordion>
    <mat-paginator
      *ngIf="searchData.count"
      [length]="searchData.count"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
