<div class="hero" *ngIf="pricesData">
  <div class="hero-title mat-display-2">Your Inventory</div>
  <div class="hero-inventory">
    <mat-accordion multi="true">
      <mat-grid-list
        [cols]="mybreakpoint"
        rowHeight="450px"
        (window:resize)="handleSize($event)"
      >
        <mat-grid-tile *ngFor="let priceData of pricesData.rows">
          <app-price-show-update
            [priceData]="priceData"
          ></app-price-show-update>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-accordion>
    <mat-paginator
      *ngIf="pricesData.count"
      [length]="pricesData.count"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
<app-loader *ngIf="!pricesData"></app-loader>
